.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
}

.top-wrapper {
    padding: 20px;
    display: flex;
    flex: 1;
}

.bottom-wrapper {
    padding: 20px;
}