.wrapper {
    height: 100vh;
    width: 100vw;
}

.reset-margin {
    margin: 0;
}

.reset-padding {
    padding: 0;
}

.mar-h__10px {
    margin-left: 10px;
    margin-right: 10px;
}

.mar-r__10px {
    margin-right: 10px;
}

.mar-b__20px {
    margin-bottom: 20px;
}

.mar__40px {
    margin: 40px;
}

.mar-h__40px {
    margin-left: 40px;
    margin-right: 40px;
}

.mar-v__40px {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mar-b__40px {
    margin-bottom: 40px;
}

.mar-h__60px {
    margin-right: 60px;
    margin-left: 60px;
}

.mar-r__60px {
    margin-right: 60px;
}

.pad-v__10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-h__10px {
    padding-left: 10px;
    padding-right: 10px;
}

.pad-b__10px {
    padding-bottom: 10px;
}

.pad-t__10px {
    padding-top: 10px;
}

.pad__20px {
    padding: 20px;
}

.pad-h__20px {
    padding-left: 20px;
    padding-right: 20px;
}

.pad-v__20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-l__20px {
    padding-left: 20px;
}

.pad-b__20px {
    padding-bottom: 20px;
}

.pad-t__20px {
    padding-top: 20px;
}

.pad-l__40px {
    padding-left: 40px;
}

.pad-h__40px {
    padding-left: 40px;
    padding-right: 40px;
}

.pad-v__40px {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pad-h__60px {
    padding-left: 60px;
    padding-right: 60px;
}

.pad-r__60px {
    padding-right: 60px;
}

.h__100 {
    height: 100%;
}

.w__100 {
    width: 100%;
}
